<div id="about-me" class="white-banner">
  <div class="container">

    <div class="about-container">

      <div class="about-title text-center">
        <div class="title-and-cv">
          <h1>Hey you!</h1>
        </div>
      </div>

      <div class="about-header">
        <p><strong>Yes you!</strong> I can't believe you're actually reading this. Welcome to my website! A special place on the internet (well at least for me it is 😅) where I hope to showcase my journey as a developer.</p>
          <div class="this-is-me">
            <p class="this-is-me-text">This is <br>me!</p>
              <%= image_tag "arrow.png", width: 120, height: 120, class: "arrow-img" %>
              <%= image_tag "Juan-Estrella-HD.JPG", width: 200, height: 200, class: "avatar fade-in-right about-img1" %>
          </div>
      </div>

      <div class="about-row">
        <div class="about-p1">
          <p><strong>It's nice to meet you!</strong> Thanks for stopping by. If you're interested in learning a bit about my story keep reading! If you want to jump to my projects click <a href="#my-projects"><u><strong>here</strong></u>.</a></p>
        </div>
        <div class="">
          <%= image_tag "juan-in-moncalieri.JPG", width: 200, height: 200, class: "avatar fade-in-right about-img1" %>
        </div>
      </div>

      <div class="about-row">
        <div class="about-img2">
          <%= image_tag "cliffs-of-moher.JPG", width: 200, height: 200, class: "avatar fade-in-right" %>
        </div>
        <div class="about-p2">
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Est delectus ullam quae rerum eligendi doloribus labore cumque quam soluta natus, debitis provident cupiditate voluptatem sapiente deserunt aliquid tempore quibusdam quis.</p>
        </div>
      </div>

      <div class="about-row">
        <div class="about-p3">
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Est delectus ullam quae rerum eligendi doloribus labore cumque quam soluta natus, debitis provident cupiditate voluptatem sapiente deserunt aliquid tempore quibusdam quis.</p>
        </div>
        <div class="about-img3">
          <%= image_tag "logo.png", width: 200, height: 200, class: "avatar fade-in-right" %>
        </div>
      </div>

    </div>

  </div>
</div>
