<div class="projects-row">
        <h5 id="vamos-title">Vamos Barcelona</h5>
          <div class="projects-p1">
            <p class="white-text" style="margin-left: 50px;">Social good app <strong><span style="color: #fb8500;">Vamos</span></strong> is my current passion project. At <span style="color: #fb8500;"><strong>Vamos</strong></span> our goal is to help our local community by making volunteer opportunities more accessible!</p>
          </div>
        <div class="container-vamos-carousel">
          <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
            <ol class="carousel-indicators vamos-indicators" style="position: absolute; bottom: -50px;">
              <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
              <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
              <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
              <li data-target="#carouselExampleIndicators" data-slide-to="3"></li>
              <li data-target="#carouselExampleIndicators" data-slide-to="4"></li>
              <li data-target="#carouselExampleIndicators" data-slide-to="5"></li>
              <li data-target="#carouselExampleIndicators" data-slide-to="6"></li>
            </ol>
            <div class="carousel-inner">
              <div class="carousel-item active">
                <div class="tag-line">
                  <h2>Vamos call to action.</h2>
                </div>
                <div class="vamos-img">
                  <%= image_tag "Vamos-home.png" %>
                </div>
              </div>
              <div class="carousel-item">
                <div class="tag-line">
                  <h2>Create a team!</h2>
                </div>
                <div class="vamos-img">
                  <%= image_tag "Vamos-teams.png" %>
                </div>
              </div>
              <div class="carousel-item">
                <div class="tag-line">
                  <h2>Or find volunteers.</h2>
                </div>
                <div class="vamos-img">
                  <%= image_tag "Vamos-ong.png" %>
                </div>
              </div>
              <div class="carousel-item">
                <div class="tag-line">
                  <h2>Find opportunities for you.</h2>
                </div>
                <div class="vamos-img">
                  <%= image_tag "Vamos-user.png" %>
                </div>
              </div>
              <div class="carousel-item">
                <div class="tag-line">
                  <h2>Filter and Apply.</h2>
                </div>
                <div class="vamos-img">
                  <%= image_tag "vamos.png" %>
                </div>
              </div>
              <div class="carousel-item">
                <div class="tag-line">
                  <h2>ONG interface.</h2>
                </div>
                <div class="vamos-img">
                  <%= image_tag "Vamos-ong-interface.png" %>
                </div>
              </div>
              <div class="carousel-item">
                <div class="tag-line">
                  <h2>Chat and confirm!</h2>
                </div>
                <div class="vamos-img">
                  <%= image_tag "Vamos-chat.png" %>
                </div>
              </div>

            </div>
            <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
              <span class="carousel-control-prev-icon vamos-control" aria-hidden="true"></span>
              <span class="sr-only">Previous</span>
            </a>
            <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
              <span class="carousel-control-next-icon vamos-control" aria-hidden="true"></span>
              <span class="sr-only">Next</span>
            </a>
          </div>
        </div>
        <div class="projects-p3">
          <p class="white-text vamos-link">To see <strong><span style="color: #fb8500;">Vamos</span></strong> in action click <a href="http://www.vamosbarcelona.com" target="_blank"><strong><u>here</u></strong></a></p>
        </div>
      </div>